@{
    ViewBag.Title = "Simple Wiki";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Start here!</h1>
            </hgroup>
            <p>
                To create a new wiki item, from <a href="/">here</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li>
        <h5>Getting Started</h5>
        How to getting start the simple wiki
        <a href="@Url.Action("Index")">Learn more…</a>
    </li>
</ol>
