@using (Html.BeginForm("Create", "Article", FormMethod.Get))
{
    <label for="title">Article Title:</label>
    <input type="text" name="title" />
    <button type="submit" title="submit to create new article">Ok</button>
}
