@{
    ViewBag.Title = "Summary";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper" id="createarea">
            <hgroup class="title">
                <h1>Start here!</h1>
            </hgroup>
            <p>
                To create a new article, from 
                <a href="javascript:void;" title="submit to create new article" onclick="createArticle();">here</a>
            </p>
        </div>
    </section>
}

@Html.Action("articlelist", new { username = ViewBag.UserName })

<script type="text/javascript">
    function createArticle() {
        $.post("/article/operate/create", {},
            function (result) {
                $("#createarea").append(result);
            }
        );

    }
</script>